*,
::before,
::after {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

html,
body {
	height: 100%;
	color: $grayText;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	font-smooth: always;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
}

body {
	font-family: 'Figtree', sans-serif;
	font-weight: $fontReg;
	font-size: remCalc(16);
}

.root {
	position: relative;
	width: 100%;
	max-width: remCalc(1024);
	margin-left: auto;
	margin-right: auto;
	padding: remCalc( 72 ) remCalc( 20 ) remCalc( 100 );
	z-index: 1;

	&.is-loading:before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: white;
		cursor: wait;
		transition: opacity .75s linear;
		z-index: 1000;

	}

	&.is-loaded:before {
		opacity: 0;
	}

	&.is-finished:before {
		display: none;
	}
}

input,
textarea,
button {
	border: none;
	-webkit-appearance: none;
}

button {
	cursor: pointer;
}