$grayText: #b3b3b3;
$grayTextDark: #696969;
$grayLight: #f2f2f2;
$grayUltraLight: #fcfcfc;

$greenDark: #0b594b;
$greenLight: #1ca38a;

$purple: #6e6995;
$teal: #0fa1b9;
$red: #b90f24;
$yellow: #f7b243;

$fontReg: 400;
$fontBold: 700;
$fontHeavy: 900;

$mediaPhone: remCalc( 641 );
$mediaTablet: remCalc( 769 );
$mediaDesktop: remCalc( 1025 );
$mediaDesktopWide: remCalc( 1441 );